<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div>
      <p>Greetings,</p>
      <table
        class="x_x_MsoNormalTable"
        cellspacing="0"
        cellpadding="0"
        border="0"
      >
      <div>
        <ul style="list-style-type: none; padding-left: 0;">
          {% for filename, url in files.items %} 
              <li style="counter-increment: my-counter; margin-bottom: 10px; font-family: initial; font-size: initial !important;">
                  <span style="display: inline-block; width: 20px; text-align: right;">{{ forloop.counter }}.</span>
                  <a href="{{ url }}">{{ filename }}</a>
              </li>
          {% endfor %}
      </ul>
      
      
      </div>
        <tbody class="">
          <tr class="" style="height: 22.5pt">
            <td
              class=""
              colspan="5"
              width="972"
              style="width: 729pt; padding: 0.75pt; height: 22.5pt"
            >
              <div

                class=""
                style="
                  margin: 0in 0in 0.0001pt;
                  font-size: 12pt;
                  font-family: 'Times New Roman', serif;
                  text-align: center;
                "
              >
                <strong class=""
                  ><span
                    class=""
                    style="
                      font-size: 15pt;
                      font-family: Times, serif;
                      color: rgb(238, 238, 238) !important;
                    "
                    data-ogsc="rgb(25, 25, 25)"
                    >PROOF APPROVAL REQUIRED</span
                  ></strong
                >
                <p
                  class="x_elementToProof"
                  style="
                    margin: 0;
                    padding: 0;
                    font-family: arial;
                    font-size: 10pt;
                    word-wrap: break-word;
                  "
                  aria-hidden="true"
                >
                  &nbsp;
                </p>
              </div>
            </td>
          </tr>
          <tr class="" style="height: 49.5pt">
            <td class="" colspan="5" style="padding: 0.75pt; height: 49.5pt">
              <div class="" style="">
                <span class="" style="font-family: Times-Roman, serif"
                  >We ask that you promptly reply&nbsp;DIRECTLY&nbsp;to
                  your<strong class=""
                    ><span
                      style="color: rgb(255, 93, 47) !important"
                      data-ogsc="rgb(255, 38, 0)"
                    >
                      Sales Rep</span
                    ></strong
                  >
                  with your
                  <span
                    style="color: rgb(255, 93, 47) !important"
                    data-ogsc="rgb(255, 38, 0)"
                    ><strong
                      class=""
                      data-ogsc=""
                      style="color: rgb(255, 93, 47) !important"
                      >APPROVAL&nbsp;or&nbsp;CHANGE.</strong
                    ></span
                  ></span
                >
                <p
                  class=""
                  style="
                    margin: 0;
                    padding: 0;
                    font-family: arial;
                    font-size: 10pt;
                    word-wrap: break-word;
                  "
                  aria-hidden="true"
                >
                  &nbsp;
                </p>
              </div>

              <div
                class=""
                style="
                  margin: 0in 0in 0.0001pt;
                  font-size: 12pt;
                  font-family: 'Times New Roman', serif;
                "
              >
                <span class="" style="font-family: Times-Roman, serif"
                  ><span
                    style="color: rgb(255, 93, 47) !important"
                    data-ogsc="rgb(255, 38, 0)"
                    ><strong
                      class=""
                      data-ogsc=""
                      style="color: rgb(255, 93, 47) !important"
                      >&nbsp;</strong
                    ></span
                  ></span
                >
              </div>
              <div>
              </div>
              <div class="" style="">
                <span class="" style="font-family: Times-Roman, serif"
                  ><span
                    style="color: rgb(255, 93, 47) !important"
                    data-ogsc="rgb(255, 38, 0)"
                    ><strong
                      class=""
                      data-ogsc=""
                      style="color: rgb(255, 93, 47) !important"
                      >THIS IS A SYSTEM GENERATED EMAIL PLEASE DO NOT REPLY
                      ALL.</strong
                    ></span
                  ></span
                >
              </div>
            </td>
          </tr>
          <tr class="" style="height: 49.5pt">
            <td class="" colspan="5" style="padding: 0.75pt; height: 49.5pt">
              <div
                class=""
                style="
                  margin: 0in 0in 0.0001pt;
                  font-size: 12pt;
                  font-family: 'Times New Roman', serif;
                "
              >
                <span class="" style="font-family: Times-Roman, serif"
                  >Please indicate your response below, If you are unable to
                  MARK AN X on the box or sign simply &nbsp;reply to your sales
                  rep with your typed approval or change(s) of artwork.</span
                >
              </div>
              <div
                class=""
                style="
                  margin: 0in 0in 0.0001pt;
                  font-size: 12pt;
                  font-family: 'Times New Roman', serif;
                "
              >
                <span class="" style="font-family: Times-Roman, serif"
                  >&nbsp;</span
                >
              </div>
              <div
                class=""
                style="
                  margin: 0in 0in 0.0001pt;
                  font-size: 12pt;
                  font-family: 'Times New Roman', serif;
                "
              >
                <span class="" style="font-family: Times-Roman, serif"
                  >&nbsp;If the attached artwork contains a&nbsp;SUGGESTED
                  LAYOUT&nbsp;you&nbsp;MUST indicate if you approve of
                  <strong class=""
                    >THE ORIGINAL OR THE SUGGESTED LAYOUT.&nbsp;</strong
                  ></span
                >
                <p
                  class=""
                  style="
                    margin: 0;
                    padding: 0;
                    font-family: arial;
                    font-size: 10pt;
                    word-wrap: break-word;
                  "
                  aria-hidden="true"
                >
                  &nbsp;
                </p>
              </div>
            </td>
          </tr>
          <tr class="" style="height: 20.25pt">
            <td class="" colspan="6" style="padding: 0.75pt; height: 20.25pt">
              <div
                class=""
                style="
                  margin: 0in 0in 0.0001pt;
                  font-size: 12pt;
                  font-family: 'Times New Roman', serif;
                "
              >
                <strong class=""
                  ><span
                    class=""
                    style="
                      font-family: Times-Bold, serif;
                      color: rgb(238, 238, 238) !important;
                    "
                    data-ogsc="rgb(25, 25, 25)"
                    >Event Date</span
                  ></strong
                ><strong class=""
                  ><span
                    class=""
                    style="
                      font-size: 10.5pt;
                      font-family: Times, serif;
                      color: rgb(213, 142, 255) !important;
                    "
                    data-ogsc="rgb(25, 0, 255)"
                    >&nbsp;(indicate the date you would like items):</span
                  ></strong
                ><strong class=""
                  ><span
                    class=""
                    style="
                      font-family: Times-Bold, serif;
                      color: rgb(213, 142, 255) !important;
                    "
                    data-ogsc="rgb(25, 0, 255)"
                    >__________________</span
                  ></strong
                >
                <p
                  class=""
                  style="
                    margin: 0;
                    padding: 0;
                    font-family: arial;
                    font-size: 10pt;
                    word-wrap: break-word;
                  "
                  aria-hidden="true"
                >
                  &nbsp;
                </p>
              </div>
              <div class="">
                <div
                  class=""
                  style="
                    margin: 0in 0in 0.0001pt;
                    font-size: 12pt;
                    font-family: 'Times New Roman', serif;
                  "
                >
                  <strong class=""
                    ><span
                      class=""
                      style="
                        font-family: Times-Bold, serif;
                        color: rgb(238, 238, 238) !important;
                      "
                      data-ogsc="rgb(25, 25, 25)"
                      >[ &nbsp;</span
                    ></strong
                  ><strong class=""
                    ><span
                      class=""
                      style="
                        font-family: Times-Bold, serif;
                        color: rgb(238, 238, 238) !important;
                      "
                      data-ogsc="rgb(25, 25, 25)"
                      >&nbsp;]</span
                    ></strong
                  ><strong class=""
                    ><span
                      class=""
                      style="
                        font-family: Times-Bold, serif;
                        color: rgb(213, 142, 255) !important;
                      "
                      data-ogsc="rgb(25, 0, 255)"
                      >&nbsp;</span
                    ></strong
                  ><strong class=""
                    ><span
                      class=""
                      style="
                        font-family: Times-Bold, serif;
                        color: rgb(238, 238, 238) !important;
                      "
                      data-ogsc="rgb(25, 25, 25)"
                      >Approved (ORIGINAL LAYOUT) :I approve the following</span
                    ></strong
                  ><strong class=""
                    ><span
                      class=""
                      style="
                        font-family: Times-Bold, serif;
                        color: rgb(213, 142, 255) !important;
                      "
                      data-ogsc="rgb(25, 0, 255)"
                      >:&nbsp;</span
                    ></strong
                  ><span class="x_x_apple-style-span"
                    ><strong class=""
                      ><span
                        class=""
                        style="
                          font-size: 10.5pt;
                          font-family: Times, serif;
                          color: rgb(213, 142, 255) !important;
                        "
                        data-ogsc="rgb(25, 0, 255)"
                        >&nbsp;SPELLING, SIZING, IMPRINT COLOR, PRODUCT COLOR
                        AND&nbsp;LAYOUT.</span
                      ></strong
                    ></span
                  ><strong class=""
                    ><strong class=""
                      ><span
                        class=""
                        style="
                          font-family: Times-Bold, serif;
                          color: rgb(213, 142, 255) !important;
                        "
                        data-ogsc="rgb(25, 0, 255)"
                        >&nbsp;</span
                      ></strong
                    ></strong
                  >
                  <p
                    class=""
                    style="
                      margin: 0;
                      padding: 0;
                      font-family: arial;
                      font-size: 10pt;
                      word-wrap: break-word;
                    "
                    aria-hidden="true"
                  >
                    &nbsp;
                  </p>
                </div>
              </div>
            </td>
          </tr>
          <tr class="" style="height: 35.25pt">
            <td class="" colspan="6" style="padding: 0.75pt; height: 35.25pt">
              <div
                class=""
                style="
                  margin: 0in 0in 0.0001pt;
                  font-size: 12pt;
                  font-family: 'Times New Roman', serif;
                "
              >
                <strong class=""
                  ><span class="" style="font-family: Times-Bold, serif"
                    >[ &nbsp; ]&nbsp;Approved&nbsp;Suggested:&nbsp;</span
                  ></strong
                ><span class="x_x_apple-style-span"
                  ><strong class=""
                    ><span
                      class=""
                      style="font-size: 10.5pt; font-family: Times, serif"
                      >I approve the following:&nbsp;<span
                        class=""
                        style="color: rgb(213, 142, 255) !important"
                        data-ogsc="rgb(25, 0, 255)"
                        >SPELLING, SIZING, IMPRINT COLOR, PRODUCT COLOR
                        AND&nbsp;SUGGESTED LAYOUT.&nbsp;</span
                      ></span
                    ></strong
                  ></span
                >
                <p
                  class=""
                  style="
                    margin: 0;
                    padding: 0;
                    font-family: arial;
                    font-size: 10pt;
                    word-wrap: break-word;
                  "
                  aria-hidden="true"
                >
                  &nbsp;
                </p>
              </div>
            </td>
          </tr>
          <tr class="" style="height: 21pt">
            <td class="" colspan="5" style="padding: 0.75pt; height: 21pt">
              <div
                class=""
                style="
                  margin: 0in 0in 0.0001pt;
                  font-size: 12pt;
                  font-family: 'Times New Roman', serif;
                "
              >
                <strong class=""
                  ><span class="" style="font-family: Times-Bold, serif"
                    >[ &nbsp; ]&nbsp;Changes Required&nbsp;</span
                  ></strong
                ><span class="x_x_apple-style-span"
                  ><strong class=""
                    ><span
                      class=""
                      style="
                        font-size: 10.5pt;
                        font-family: Times, serif;
                        color: rgb(213, 142, 255) !important;
                      "
                      data-ogsc="rgb(25, 0, 255)"
                      >(Revised proof REQUESTED )</span
                    ></strong
                  ></span
                >
                <p
                  class=""
                  style="
                    margin: 0;
                    padding: 0;
                    font-family: arial;
                    font-size: 10pt;
                    word-wrap: break-word;
                  "
                  aria-hidden="true"
                >
                  &nbsp;
                </p>
              </div>
            </td>
            <td class="" style="padding: 0.75pt; height: 21pt">&nbsp;</td>
          </tr>
          <tr class="" style="height: 21pt">
            <td class="" style="padding: 0.75pt; height: 21pt">
              <div
                class=""
                style="
                  margin: 0in 0in 0.0001pt;
                  font-size: 12pt;
                  font-family: 'Times New Roman', serif;
                "
              >
                <strong class=""
                  ><span class="" style="font-family: Times-Bold, serif"
                    >[ &nbsp; ]&nbsp;Changes Required<span
                      class=""
                      style="color: rgb(213, 142, 255) !important"
                      data-ogsc="rgb(25, 0, 255)"
                      >&nbsp;</span
                    ></span
                  ></strong
                ><span class="x_x_apple-style-span"
                  ><strong class=""
                    ><span
                      class=""
                      style="
                        font-size: 10.5pt;
                        font-family: Times, serif;
                        color: rgb(213, 142, 255) !important;
                      "
                      data-ogsc="rgb(25, 0, 255)"
                      >( NO ADDITIONAL PROOF NEED )</span
                    ></strong
                  ></span
                >
                <p
                  class=""
                  style="
                    margin: 0;
                    padding: 0;
                    font-family: arial;
                    font-size: 10pt;
                    word-wrap: break-word;
                  "
                  aria-hidden="true"
                >
                  &nbsp;
                </p>
              </div>
            </td>
            <td class="" style="padding: 0.75pt; height: 21pt">&nbsp;</td>
            <td class="" style="padding: 0.75pt; height: 21pt">&nbsp;</td>
            <td class="" style="padding: 0.75pt; height: 21pt">&nbsp;</td>
            <td class="" style="padding: 0.75pt; height: 21pt">&nbsp;</td>
            <td class="" style="padding: 0.75pt; height: 21pt">&nbsp;</td>
          </tr>
          <tr class="" style="height: 22.5pt">
            <td class="" colspan="8" style="padding: 0.75pt; height: 22.5pt">
              <div
                class=""
                style="
                  margin: 0in 0in 0.0001pt;
                  font-size: 12pt;
                  font-family: 'Times New Roman', serif;
                  text-align: center;
                "
              >
                <strong class=""
                  ><span style="text-decoration: underline"
                    ><span
                      class=""
                      style="
                        font-size: 15pt;
                        font-family: Times, serif;
                        color: rgb(251, 251, 251) !important;
                      "
                      data-ogsc="rgb(8, 8, 8)"
                      >PLEASE MAKE THE FOLLOWING&nbsp;CHANGES:</span
                    ></span
                  ></strong
                >
                <p
                  class=""
                  style="
                    margin: 0;
                    padding: 0;
                    font-family: arial;
                    font-size: 10pt;
                    word-wrap: break-word;
                  "
                  aria-hidden="true"
                >
                  &nbsp;
                </p>
              </div>
            </td>
          </tr>
          <tr class="" style="height: 30pt">
            <td
              class=""
              colspan="5"
              style="
                border-style: none none solid;
                border-bottom-width: 1pt;
                border-bottom-color: black;
                padding: 0.75pt;
                height: 30pt;
              "
            >
              <div
                class=""
                style="
                  margin: 0in 0in 0.0001pt;
                  font-size: 12pt;
                  font-family: 'Times New Roman', serif;
                  text-align: center;
                "
              >
                <strong class=""
                  ><span
                    class=""
                    style="
                      font-size: 9pt;
                      font-family: Times-Bold, serif;
                      color: rgb(251, 251, 251) !important;
                    "
                    data-ogsc="rgb(8, 8, 8)"
                    >&nbsp;</span
                  ></strong
                >
                <p
                  class=""
                  style="
                    margin: 0;
                    padding: 0;
                    font-family: arial;
                    font-size: 10pt;
                    word-wrap: break-word;
                  "
                  aria-hidden="true"
                >
                  &nbsp;
                </p>
              </div>
            </td>
            <td class="" style="padding: 0.75pt; height: 30pt">&nbsp;</td>
            <td class="" style="padding: 0.75pt; height: 30pt">&nbsp;</td>
            <td class="" style="padding: 0.75pt; height: 30pt">&nbsp;</td>
          </tr>
          <tr class="" style="height: 30pt">
            <td
              class=""
              colspan="5"
              style="
                border-style: none none solid;
                border-bottom-width: 1pt;
                border-bottom-color: black;
                padding: 0.75pt;
                height: 30pt;
              "
            >
              &nbsp;
            </td>
            <td class="" style="padding: 0.75pt; height: 30pt">&nbsp;</td>
            <td class="" style="padding: 0.75pt; height: 30pt">&nbsp;</td>
            <td class="" style="padding: 0.75pt; height: 30pt">&nbsp;</td>
          </tr>
          <tr class="" style="height: 30pt">
            <td
              class=""
              colspan="5"
              style="
                border-style: none none solid;
                border-bottom-width: 1pt;
                border-bottom-color: black;
                padding: 0.75pt;
                height: 30pt;
              "
            >
              &nbsp;
            </td>
            <td class="" style="padding: 0.75pt; height: 30pt">&nbsp;</td>
            <td class="" style="padding: 0.75pt; height: 30pt">&nbsp;</td>
            <td class="" style="padding: 0.75pt; height: 30pt">&nbsp;</td>
          </tr>
          <tr class="" style="height: 30pt">
            <td
              class=""
              colspan="5"
              style="
                border-style: none none solid;
                border-bottom-width: 1pt;
                border-bottom-color: black;
                padding: 0.75pt;
                height: 30pt;
              "
            >
              &nbsp;
            </td>
            <td class="" style="padding: 0.75pt; height: 30pt">&nbsp;</td>
            <td class="" style="padding: 0.75pt; height: 30pt">&nbsp;</td>
            <td class="" style="padding: 0.75pt; height: 30pt">&nbsp;</td>
          </tr>
          <tr class="" height="0">
            <td class="" width="718" style="border: none">&nbsp;</td>
            <td class="" width="6" style="border: none">&nbsp;</td>
            <td class="" width="6" style="border: none">&nbsp;</td>
            <td class="" width="6" style="border: none">&nbsp;</td>
            <td class="" width="6" style="border: none">&nbsp;</td>
            <td class="" width="2" style="border: none">&nbsp;</td>
            <td class="" width="2" style="border: none">&nbsp;</td>
            <td class="" width="2" style="border: none">&nbsp;</td>
          </tr>
        </tbody>
      </table>
      <div
        class=""
        style="
          margin: 0in 0in 0.0001pt;
          font-size: 12pt;
          font-family: 'Times New Roman', serif;
        "
      >
        <span class="x_x_apple-style-span"
          ><span class="" style="font-family: Arial, sans-serif"
            >Reviewed by:&nbsp;<span
              style="color: rgb(168, 197, 255) !important"
              data-ogsc="rgb(31, 73, 125)"
              >______</span
            ></span
          ></span
        ><span class="x_x_apple-style-span"
          ><span class="" style="font-family: Arial, sans-serif"
            >___________</span
          ></span
        ><span class="" style="font-family: Arial, sans-serif"
          >&nbsp;&nbsp; &nbsp; &nbsp; &nbsp;Date:___</span
        ><span class="" style="font-family: Arial, sans-serif"
          >________&nbsp;</span
        >
        <p
          class=""
          style="
            margin: 0;
            padding: 0;
            font-family: arial;
            font-size: 10pt;
            word-wrap: break-word;
          "
          aria-hidden="true"
        >
          &nbsp;
        </p>
      </div>
      <div
        class=""
        style="
          margin: 0in 0in 0.0001pt;
          font-size: 12pt;
          font-family: 'Times New Roman', serif;
        "
      >
        <span class="" style="orphans: auto; widows: auto"
          >We look forward to working together and assisting you with all your
          promotional needs!&nbsp;</span
        >
      </div>
      <div
        class=""
        style="
          margin: 0in 0in 0.0001pt;
          font-size: 12pt;
          font-family: 'Times New Roman', serif;
        "
      >
        <blockquote
          class=""
          style="
            font-family: Verdana;
            font-size: 18px;
            orphans: auto;
            widows: auto;
          "
        >
          <div
            class=""
            style="
              word-wrap: break-word;
              font-size: 14px;
              font-family: Calibri, sans-serif;
            "
          ></div>
        </blockquote>
      </div>
      <br aria-hidden="true" /><br aria-hidden="true" />
      <p>Regards,</p>
      <p>Positive Promotion Art Team.</p>
    </div>
  </body>
</html>
